.mi-css-table{
    background-color: #f6f6f6;
    height: 40px;
    border: 0.5px solid gray;
    display: flex;
    place-items: center;
    place-content: center;
}

h5.text-center{
    cursor: pointer;
}

body{
    background-color: #f3f3f3;
}

body, html, main{
    margin: 0;
    padding: 0;
    height: 100%;
}

.login{
    width: 350px;
    height: 380px;
    border: 1px solid #4444;
    border-radius: 25px;
    margin: auto 0;
}

.input-group-text{
    color: white;
    background-color: #6c757d;
    height: 40px;
    border: 0 !important;
}

.container-icono{
    z-index: 3;
    position: absolute;
    transform: translateY(-30px);
    
}

.icono-image{
    width: 120px;
    height: 120px;
    background-color: #6c757d;
    border-radius: 50%;
}