/* Pagina Index */


.titulo{
    text-align: center;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-div-principal{
    width: 50%;
    border: 2px solid black;
    padding-bottom: 30px;
    padding-left: 20px;
}

.container-div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.div-card{
    border: 2px solid black;
    padding: 10px;
}

.form-option{
    margin-top: 30px;
    margin-bottom: 50px;
}





/* Pagina Login */

.mi-css-table{
    background-color: #f6f6f6;
    height: 40px;
    border: 0.5px solid gray;
    display: flex;
    place-items: center;
    place-content: center;
}

h5.text-center{
    cursor: pointer;
}

body{
    background-color: #f3f3f3;
}

body, html, main{
    margin: 0;
    padding: 0;
    height: 100%;
}

.login{
    width: 350px;
    height: 380px;
    border: 1px solid #4444;
    border-radius: 25px;
    margin: auto 0;
}

.input-group-text{
    color: white;
    background-color: #6c757d;
    height: 40px;
    border: 0 !important;
}

.container-icono{
    z-index: 3;
    position: absolute;
    transform: translateY(-30px);
    
}

.icono-image{
    width: 120px;
    height: 120px;
    background-color: #6c757d;
    border-radius: 50%;
}


.mostrarCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.divCard{
    width: 150px;
    border: 2px solid black;
    padding-left: 15px;
}

.margenFooter{
    height: 50px;
}